html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  
}

.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
h1{
  text-align: center;
}

#cubeCanvas {
  background: white;
  border: 1px solid black;
  margin: auto;     
  background-image: url("grid.png");   
  background-size: cover ;    
  background-blend-mode: multiply;
     
}

.blocks {
  display: flex;
  max-width: 100%; 
  overflow-x: auto; 
}

.inputs {
  display: grid;
  justify-content: center;
  width: 100%; 
  box-sizing: border-box;
  padding: 10px;
}

footer {
  background-color: aliceblue;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer; ;
}

footer p {
 
  color: #777;
  font-size: 1.1em;
  margin: 0;
}           
.text-container {   
  margin: auto; 
  display: flex;
  justify-content: center;
  gap:5px;
}

footer:hover #heart {
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@media screen and (max-width: 768px){
  .container {              
  padding: 0;         
  }
  .blocks {
      display: grid;                
      row-gap: 30px;
      overflow-x: auto; 
      margin: auto;                    
  }
  #cubeCanvas {
      width: 80vw;
  }
  .inputs {
      gap: 30px;
      margin-bottom: 50px;
      padding: 36px;                  
  }
  input,.label{
      width: 80vw;
  }                
}